/* common styles or utilities */
body {
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0;
}
/* header styles */
.header {
  width: 1920px;
  height: 1120px;
  background: rgba(255, 144, 14, 0.1);
}
.nav {
  display: flex;
  padding: 10px 100px;
}
.nav-title {
  margin-left: 228px;
  margin-top: 20px;
}
.nav ul {
  display: flex;
  align-items: center;
  margin-left: 600px;
  margin-right: 240px;
  margin-top: 23px;
}
li {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  list-style: none;
  margin-left: 50px;
}
.header-description {
  width: 862px;
  height: 225px;
  margin: 225px 529px 80px 500px;
}
.header-description-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #131313;
}
.header-description-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}
.header-btn {
  width: 180px;
  height: 64px;
  left: 870px;
  top: 463px;
  margin-top: 20px;
  margin-left: 310px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: orange;
  border: 0;
  border-radius: 5px;
}
.header img {
  width: 1200px;
  height: 500px;
  margin-left: 330px;
  margin-top: 0;
  background: url(group-three-modern-architects.jpg);
  border-radius: 8px;
}

/*------------------ Main section Styles--------------------- */
.features-container {
  display: flex;
  margin-left: 400px;
  margin-top: 40px;
}
.features-img-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.features-img-container img {
  width: 242px;
  height: 242px;
  background: url(business-people-with-arms-crossed.jpg);
  border-radius: 8px;
  margin: 5px;
}
.features-description {
  width: 537px;
  height: 304px;
  margin-top: 150px;
  margin-left: 65px;
}
.features-description-title {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}
.title-span-1 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.title-span-2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #ff900e;
}
.features-description-info {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 20px;
}
.features-btn {
  width: 180px;
  height: 64px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-top: 20px;

  color: #ffffff;
}

/*-------------------- section 2 styles--------------------- */
.features-love {
  display: flex;
  width: 1440px;
  height: 1059px;
  gap: 150px;
}
.features-love-description {
  margin-left: 340px;
  margin-top: 100px;
  width: 586px;
  height: 982px;
}
.features-love-description-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.features-love-description-title-style {
  display: flex;
  align-items: center;
  gap: 8px;
}
.features-love-description-info {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 10px;
}
hr {
  width: 5px;
  height: 100px;
  background: #ff900e;
}
.features-love-description-content {
  margin-top: 40px;
  margin-left: 20px;
  width: 486px;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 50px;
}
.features-love-description-content-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
}
.features-love-description-content-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding: 5px;
}
.features-love-img img {
  width: 600px;
  height: 1170px;
  margin-top: 50px;
}
.features-love-btn {
  background-color: orange;
  width: 200px;
  height: 120px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  position: relative;
  bottom: 80px;
  right: 60px;
}
.features-love-btn-span {
  font-weight: 800;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 5px;
}

/*------------------- section 3 styles-------------------------- */

.facts-container {
  margin-top: 300px;
  margin-left: 340px;
}
.fact-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 10px;
}
.fact-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 50px;
}
.facts-content {
  display: flex;
  gap: 125px;
}
.fact {
  width: 220.83px;
  height: 220.83px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  transition: width 1s, height 1s, transform 1s;
}
.fact:hover {
  background-color: rgba(255, 144, 14, 0.1);
  transform: scale(1.5) rotate(360deg);
}
.fact img {
  width: 47.39px;
  height: 45.22px;
  margin-top: 40px;
}
.fact-count {
  margin-top: 10px;
  font-weight: 600;
  font-size: 30px;
  line-height: 53px;
  color: #424242;
}
.fact-info {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
  line-height: 23px;
  margin-top: 10px;
}
.sponsors {
  text-align: center;
  margin-top: 100px;
}
.sponsor-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 20px;
}
.sponsor-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}
.sponsor-company {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.sponsor-company li a {
  text-decoration: none;
  color: grey;
}

/*-------------------- footer styles ----------------------- */

.footer {
  width: 1440px;
  height: 100px;
  background: rgba(255, 144, 14, 0.1);
  margin-top: 90px;
  margin-left: 260px;
  border-radius: 5px;
}
.footer-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #424242;
  padding-top: 50px;
}

/*------------------- section 3 styles----------------------- */

/*------------------- Media Queries-------------------------- */

/*------------------- Mobile Devices------------------------- */
@media only screen and (max-width: 688px) {
  .header {
    width: 100%;
    height: 890px;
    width: 400px;
  }
  .nav {
    padding: 15px;
    margin-bottom: 20px;
  }
  .nav-title {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
    margin-top: 30px;
  }
  li {
    margin-left: 0;
    padding: 5px;
    text-align: center;
  }
  .header-description {
    width: 100%;
    margin-left: 0;
    margin-top: 0px;
    margin-right: 0px;
  }
  .header-description-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
  }
  .header-btn {
    width: 180px;
    height: 64px;
    left: 870px;
    top: 463px;
    margin-top: 20px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    background-color: orange;
    border: 0;
    border-radius: 5px;
  }
  .header img {
    width: 375px;
    height: 200px;
    margin-left: 8px;
    margin-top: 130px;
    background: url(group-three-modern-architects.jpg);
    border-radius: 8px;
  }
  .features-container {
    width: 100%;
    flex-direction: column;
    margin-left: 0;
    margin-top: 5px;
  }
  .features-img-container img {
    width: 242px;
    height: 242px;
    background: url(business-people-with-arms-crossed.jpg);
    border-radius: 8px;
    margin: 5px;
    padding-left: 50px;
  }
  .features-description {
    width: 200px;
    height: 304px;
    margin-top: 50px;
    margin-left: 0x;
    margin-right: 100px;
  }
  .features-love {
    flex-direction: column;
    width: 100%;
    gap: 0;
    margin-top: 150px;
  }
  .features-love-description {
    margin-left: 0;
    width: 286px;
    padding: 40px;
  }
  .features-love-description-content {
    margin-top: 20px;
    margin-left: 20px;
    width: 156px;
    height: 350px;
    padding: 20px;
    margin-right: 0;
  }
  .features-love-img img {
    width: 342px;
    height: 542px;
    margin-top: 950px;
    margin-left: 15px;
  }
  .features-love-btn {
    bottom: 60px;
    right: 60px;
    left: 70px;
  }
  .facts-container {
    margin-top: 1670px;
    margin-left: 0;
    padding: 40px;
  }
  .facts-content {
    flex-direction: column;
    gap: 25px;
  }
  .sponsor-title {
    font-size: 30px;
    text-align: left;
    padding: 10px;
  }
  .sponsor-info {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #727272;
    height: 30px;
    width: 15px;
    margin-left: 80px;
  }
  .sponsor-company {
    margin-top: 400px;
    /* flex-direction: column; */
    flex-direction: column;
    margin-left: 0;
    text-align: left;
  }
}
.hide {
  display: none;
}
